<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div><a href="registration">registration</a></div>
<div><a href="authorization">authorization</a></div>

</body>
</html>